@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,500&family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  font-family: "Montserrat", sans-serif;
  font-family: "Quicksand", sans-serif;
  --bg-black: #1d2123;
  --text-white: rgba(255, 255, 255, 0.9);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg-black);
  color: var(--text-white);
}
.wrapper {
  padding: 1.5em 1em;
}
