@import "variables";
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  padding: 0 1em;
  .icons {
    color: white;
    display: flex;
    gap: 1em;
  }
}

@media (min-width: $md) {
  .navbar {
    padding: 0 2em;
    .icons {
      width: 12%;
      display: flex;
      justify-content: space-between;
    }
  }
}
@media (min-width: $lg) {
  .navbar {
    display: none;
  }
}
